
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Exam</title>
</head>
<body>
    <h2>Create Exam</h2>
    <form action="/admin/create_exam" method="POST">
        <label>Exam Name:</label>
        <input type="text" name="name" required>
        <label>Departments:</label><br>
        <input type="checkbox" name="departments" value="mc"> MCA
        <input type="checkbox" name="departments" value="is"> ISE
        <input type="checkbox" name="departments" value="cs"> CSE
        <input type="checkbox" name="departments" value="et"> ETE
        <input type="checkbox" name="departments" value="ec"> ECE
        <input type="checkbox" name="departments" value="ai"> AI
        <input type="checkbox" name="departments" value="cv"> Civil <br>
        <label>Semester:</label>
        <input type="number" name="semester" min="1" max="8" required>
        <label>Question Type:</label>
        <select id="questionType" name="questionType" onchange="toggleQuestionFields()" required>
            <option value="mcq">MCQ</option>
            <option value="coding">Coding</option>
            <option value="mcq&coding">MCQ + Coding</option>
        </select>

        <div id="mcqFields">
            <label>Number of MCQ Questions:</label>
            <input type="number" name="numMCQs" id="numMCQs">
        </div>

        <div id="codingFields">
            <label>Number of Coding Questions:</label>
            <input type="number" name="numCoding" id="numCoding">
        </div>

        <div id="totalQuestionFields">
            <label>Total Questions:</label>
            <input type="number" name="numTotalQuestions" id="numTotalQuestions">
        </div>
        <div id="duration">
            <label>Duration:</label>
            <input type="number" name="Duration" >
        </div>
        <div id="scheduledAt">
            <label>Scheduled At:</label>
            <input type="datetime-local" name="scheduledAt" required>
            
        <div id="scheduledTill">
            <label>Scheduled Till:</label>
            <input type="datetime-local" name="scheduledTill" required>

        <button type="submit">Create Exam</button>
    </form>

    <script>
        function toggleQuestionFields() {
            const type = document.getElementById("questionType").value;
            document.getElementById("mcqFields").style.display = type === "mcq" || type === "mcq&coding" ? "block" : "none";
            document.getElementById("codingFields").style.display = type === "coding" || type === "mcq&coding" ? "block" : "none";
            document.getElementById("totalQuestionFields").style.display = type === "mcq&coding" ? "block" : "none";
        }
        toggleQuestionFields();
    </script>
</body>
</html>
